{% extends 'base.html' %}

   

    {% block content %}
    {% comment %} {{ block.super }} {% endcomment %}

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-3">
                    <div class="card" style="width:400px">
                        <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                        <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
                    </div>
                </div>
                
            {% endfor %}
    </div>
        </div>
{% endblock %}


